USE [sadovDiplomaDOM]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departmentId] [int] NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK__Categori__3213E83F7DF8D27E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentAccounts]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentAccounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[mail] [nvarchar](100) NULL,
	[localPhone] [nvarchar](4) NULL,
	[login] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[hypermarketId] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Departments_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[mail] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[hypermarketId] [int] NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK__Employee__3213E83FB81C69E0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hypermarkets]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hypermarkets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branchName] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[mail] [nvarchar](255) NULL,
 CONSTRAINT [PK__Hypermar__3213E83F5A62BA3F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[categoryId] [int] NULL,
	[image] [nvarchar](max) NULL,
	[size] [nvarchar](30) NULL,
	[weight] [float] NULL,
	[color] [nvarchar](50) NULL,
	[purchasePrice] [float] NULL,
	[salePrice] [float] NULL,
 CONSTRAINT [PK__Products__3213E83FF5D657E1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReasonsRequests]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReasonsRequests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK__ReasonsR__3213E83FA910E6A1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RemaindProducts]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemaindProducts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[hypermarketId] [int] NULL,
 CONSTRAINT [PK__RemaindP__3213E83F76FD4407] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestsMarking]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestsMarking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateCreation] [datetime] NULL,
	[dateClose] [datetime] NULL,
	[productId] [int] NULL,
	[reasonId] [int] NULL,
	[creatorId] [int] NULL,
	[actionsTaken] [nvarchar](max) NULL,
	[statusId] [int] NULL,
	[executor] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Requests__3213E83F6AF2DB7F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestsWriteOff]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestsWriteOff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateCreation] [datetime] NULL,
	[dateClose] [datetime] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
	[creatorId] [int] NULL,
	[statusId] [int] NULL,
	[storekeeperId] [int] NULL,
	[desciption] [nvarchar](max) NULL,
 CONSTRAINT [PK__Requests__3213E83F1B79ACC3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK__Roles__3213E83F64CA9F78] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusesRequestsMarking]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusesRequestsMarking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK__Statuses__3213E83FBBC32C9E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusesRequestsWriteOff]    Script Date: 11.05.2026 16:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusesRequestsWriteOff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK__Statuses__3213E83F4655C204] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [departmentId], [name]) VALUES (1, 3, N'Двери и замочно-скобяные изделия')
INSERT [dbo].[Categories] ([id], [departmentId], [name]) VALUES (2, 2, N'Декор окна')
INSERT [dbo].[Categories] ([id], [departmentId], [name]) VALUES (3, 2, N'Обои')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentAccounts] ON 

INSERT [dbo].[DepartmentAccounts] ([id], [name], [mail], [localPhone], [login], [password], [hypermarketId]) VALUES (1, N'Электрика', N'ELdomKS@mail.ru', N'2001', N'elKS', N'123', 8)
INSERT [dbo].[DepartmentAccounts] ([id], [name], [mail], [localPhone], [login], [password], [hypermarketId]) VALUES (2, N'Декор', N'DEKdomKS@mail.ru', N'2002', N'dekKS', N'123', 8)
INSERT [dbo].[DepartmentAccounts] ([id], [name], [mail], [localPhone], [login], [password], [hypermarketId]) VALUES (3, N'Мебель/двери', N'MEBdomKS@mail.ru', N'2003', N'mebKS', N'123', 8)
SET IDENTITY_INSERT [dbo].[DepartmentAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([id], [name]) VALUES (1, N'Электрика')
INSERT [dbo].[Departments] ([id], [name]) VALUES (2, N'Декор')
INSERT [dbo].[Departments] ([id], [name]) VALUES (3, N'Мебель/двери')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [name], [surname], [patronymic], [phone], [mail], [birthday], [login], [password], [hypermarketId], [roleId]) VALUES (1, N'Игорь', N'Ратникович', N'Александрович', N'2101', N'ratKS@mail.ru', CAST(N'1988-10-09' AS Date), N'ratKS', N'123', 8, 1)
INSERT [dbo].[Employees] ([id], [name], [surname], [patronymic], [phone], [mail], [birthday], [login], [password], [hypermarketId], [roleId]) VALUES (5, N'Алексей', N'Хвойныров', N'Алексеевич', N'2102', N'chvUM@mail.ru', CAST(N'1992-02-10' AS Date), N'chvUM', N'123', 5, 1)
INSERT [dbo].[Employees] ([id], [name], [surname], [patronymic], [phone], [mail], [birthday], [login], [password], [hypermarketId], [roleId]) VALUES (6, N'Галина', N'Береговая', N'Игоревна', N'2103', N'berKOR@mail.ru', CAST(N'1990-03-02' AS Date), N'berKOR', N'123', 6, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Hypermarkets] ON 

INSERT [dbo].[Hypermarkets] ([id], [branchName], [address], [phone], [mail]) VALUES (4, N'МегаМебель', N'г Челябинск, ул Дарвина, д 2', N'89028926371', N'MMDOMAALL@mail.ru')
INSERT [dbo].[Hypermarkets] ([id], [branchName], [address], [phone], [mail]) VALUES (5, N'Уралмаш', N'г Екатеринбург, ул Победы, д 63', N'89028926372', N'UMDOMALL@mail.ru')
INSERT [dbo].[Hypermarkets] ([id], [branchName], [address], [phone], [mail]) VALUES (6, N'КОР', N'г Екатеринбург, ул Высоцкого, д 50', N'89028926373', N'KORDOMALL@mail.ru')
SET IDENTITY_INSERT [dbo].[Hypermarkets] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [description], [categoryId], [image], [size], [weight], [color], [purchasePrice], [salePrice]) VALUES (50435, N'Набор инструментов Dexter 101 предмет', N'Набор инструментов универсальный. В наборе 101 предмет. Для дома и автомобиля.', 5, N'i1.jpg', N'300x200', 7.3, N'жёлтый', 3522, 4578.6)
INSERT [dbo].[Products] ([id], [name], [description], [categoryId], [image], [size], [weight], [color], [purchasePrice], [salePrice]) VALUES (60534, N'Дюбель распорный Tech-Krep 6х40мм, 100шт', N'Дюбель распорный для крепления конструкций. Размер 6х40мм. В упаковке 100шт.', 6, N'i2.jpg', N'6x40', 0.15, N'синий', 50, 65)
INSERT [dbo].[Products] ([id], [name], [description], [categoryId], [image], [size], [weight], [color], [purchasePrice], [salePrice]) VALUES (70534, N'Пистолет для герметика Dexter', N'Пистолет для нанесения герметика. Для строительных и ремонтных работ.', 7, N'i3.jpg', N'150x200', 0.3, N'красный', 130, 169)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReasonsRequests] ON 

INSERT [dbo].[ReasonsRequests] ([id], [name]) VALUES (1, N'Маркировка от поставщика')
INSERT [dbo].[ReasonsRequests] ([id], [name]) VALUES (2, N'Маркировка магазина')
SET IDENTITY_INSERT [dbo].[ReasonsRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[RemaindProducts] ON 

INSERT [dbo].[RemaindProducts] ([id], [productId], [quantity], [hypermarketId]) VALUES (1, 50435, 6, 4)
INSERT [dbo].[RemaindProducts] ([id], [productId], [quantity], [hypermarketId]) VALUES (2, 60534, 7, 4)
INSERT [dbo].[RemaindProducts] ([id], [productId], [quantity], [hypermarketId]) VALUES (3, 70534, 34, 4)
GO
SET IDENTITY_INSERT [dbo].[RemaindProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestsMarking] ON 

INSERT [dbo].[RequestsMarking] ([id], [dateCreation], [dateClose], [productId], [reasonId], [creatorId], [actionsTaken], [statusId], [executor], [description]) VALUES (8, CAST(N'2025-10-17T00:00:00.000' AS DateTime), NULL, 1007564, NULL, 1, NULL, 1, NULL, N'Отсутствует маркировка')
INSERT [dbo].[RequestsMarking] ([id], [dateCreation], [dateClose], [productId], [reasonId], [creatorId], [actionsTaken], [statusId], [executor], [description]) VALUES (13, CAST(N'2025-03-11T00:00:00.000' AS DateTime), CAST(N'2025-10-18T11:10:00.000' AS DateTime), 101231, 1, 1, N'маркировка напечата и наклеена', 3, N'Коновалова Ольга Михайловна', N'нет штрих кода')
INSERT [dbo].[RequestsMarking] ([id], [dateCreation], [dateClose], [productId], [reasonId], [creatorId], [actionsTaken], [statusId], [executor], [description]) VALUES (14, CAST(N'2025-10-20T00:00:00.000' AS DateTime), CAST(N'2025-10-18T11:10:00.000' AS DateTime), 120543, 2, 8, N'заказана маркировка, аналогичный товар проверен', 3, N'Садиков Олег Олегович', N'штрих код стёрт')
SET IDENTITY_INSERT [dbo].[RequestsMarking] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestsWriteOff] ON 

INSERT [dbo].[RequestsWriteOff] ([id], [dateCreation], [dateClose], [productId], [quantity], [creatorId], [statusId], [storekeeperId], [desciption]) VALUES (2, CAST(N'2026-05-03T00:00:00.000' AS DateTime), CAST(N'2026-05-03T20:05:52.410' AS DateTime), 101231, 1, 1, 3, 9, N'отсутсвует честный знак')
INSERT [dbo].[RequestsWriteOff] ([id], [dateCreation], [dateClose], [productId], [quantity], [creatorId], [statusId], [storekeeperId], [desciption]) VALUES (3, CAST(N'2026-05-03T21:22:59.490' AS DateTime), CAST(N'2026-05-03T21:25:31.400' AS DateTime), 60534, 4, 1, 3, 9, N'честный знак не читается')
INSERT [dbo].[RequestsWriteOff] ([id], [dateCreation], [dateClose], [productId], [quantity], [creatorId], [statusId], [storekeeperId], [desciption]) VALUES (4, CAST(N'2026-05-03T21:23:34.353' AS DateTime), CAST(N'2026-05-03T21:25:36.197' AS DateTime), 50435, 7, 1, 3, 9, N'qr код стёрт')
SET IDENTITY_INSERT [dbo].[RequestsWriteOff] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'Старший кассир')
INSERT [dbo].[Roles] ([id], [name]) VALUES (2, N'Кладовщик')
INSERT [dbo].[Roles] ([id], [name]) VALUES (3, N'Аналитик')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusesRequestsMarking] ON 

INSERT [dbo].[StatusesRequestsMarking] ([id], [name]) VALUES (1, N'Создана')
INSERT [dbo].[StatusesRequestsMarking] ([id], [name]) VALUES (2, N'В работе')
INSERT [dbo].[StatusesRequestsMarking] ([id], [name]) VALUES (3, N'Закрыта')
SET IDENTITY_INSERT [dbo].[StatusesRequestsMarking] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusesRequestsWriteOff] ON 

INSERT [dbo].[StatusesRequestsWriteOff] ([id], [name]) VALUES (1, N'Создана')
INSERT [dbo].[StatusesRequestsWriteOff] ([id], [name]) VALUES (2, N'Проверка товара')
INSERT [dbo].[StatusesRequestsWriteOff] ([id], [name]) VALUES (3, N'Товар на складе брака')
SET IDENTITY_INSERT [dbo].[StatusesRequestsWriteOff] OFF
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Departments] FOREIGN KEY([departmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Departments]
GO
ALTER TABLE [dbo].[DepartmentAccounts]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Hypermarkets] FOREIGN KEY([hypermarketId])
REFERENCES [dbo].[Hypermarkets] ([id])
GO
ALTER TABLE [dbo].[DepartmentAccounts] CHECK CONSTRAINT [FK_Departments_Hypermarkets]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__hyper__3B75D760] FOREIGN KEY([hypermarketId])
REFERENCES [dbo].[Hypermarkets] ([id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__hyper__3B75D760]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__roleI__3C69FB99] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__roleI__3C69FB99]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__catego__46E78A0C] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__catego__46E78A0C]
GO
ALTER TABLE [dbo].[RemaindProducts]  WITH CHECK ADD  CONSTRAINT [FK__RemaindPr__hyper__4AB81AF0] FOREIGN KEY([hypermarketId])
REFERENCES [dbo].[Hypermarkets] ([id])
GO
ALTER TABLE [dbo].[RemaindProducts] CHECK CONSTRAINT [FK__RemaindPr__hyper__4AB81AF0]
GO
ALTER TABLE [dbo].[RemaindProducts]  WITH CHECK ADD  CONSTRAINT [FK__RemaindPr__produ__49C3F6B7] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[RemaindProducts] CHECK CONSTRAINT [FK__RemaindPr__produ__49C3F6B7]
GO
ALTER TABLE [dbo].[RequestsMarking]  WITH CHECK ADD  CONSTRAINT [FK__RequestsM__creat__4F7CD00D] FOREIGN KEY([creatorId])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[RequestsMarking] CHECK CONSTRAINT [FK__RequestsM__creat__4F7CD00D]
GO
ALTER TABLE [dbo].[RequestsMarking]  WITH CHECK ADD  CONSTRAINT [FK__RequestsM__produ__4D94879B] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[RequestsMarking] CHECK CONSTRAINT [FK__RequestsM__produ__4D94879B]
GO
ALTER TABLE [dbo].[RequestsMarking]  WITH CHECK ADD  CONSTRAINT [FK__RequestsM__reaso__4E88ABD4] FOREIGN KEY([reasonId])
REFERENCES [dbo].[ReasonsRequests] ([id])
GO
ALTER TABLE [dbo].[RequestsMarking] CHECK CONSTRAINT [FK__RequestsM__reaso__4E88ABD4]
GO
ALTER TABLE [dbo].[RequestsMarking]  WITH CHECK ADD  CONSTRAINT [FK__RequestsM__statu__5070F446] FOREIGN KEY([statusId])
REFERENCES [dbo].[StatusesRequestsMarking] ([id])
GO
ALTER TABLE [dbo].[RequestsMarking] CHECK CONSTRAINT [FK__RequestsM__statu__5070F446]
GO
ALTER TABLE [dbo].[RequestsWriteOff]  WITH CHECK ADD  CONSTRAINT [FK__RequestsW__creat__5535A963] FOREIGN KEY([creatorId])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[RequestsWriteOff] CHECK CONSTRAINT [FK__RequestsW__creat__5535A963]
GO
ALTER TABLE [dbo].[RequestsWriteOff]  WITH CHECK ADD  CONSTRAINT [FK__RequestsW__produ__534D60F1] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[RequestsWriteOff] CHECK CONSTRAINT [FK__RequestsW__produ__534D60F1]
GO
ALTER TABLE [dbo].[RequestsWriteOff]  WITH CHECK ADD  CONSTRAINT [FK__RequestsW__statu__5629CD9C] FOREIGN KEY([statusId])
REFERENCES [dbo].[StatusesRequestsWriteOff] ([id])
GO
ALTER TABLE [dbo].[RequestsWriteOff] CHECK CONSTRAINT [FK__RequestsW__statu__5629CD9C]
GO
ALTER TABLE [dbo].[RequestsWriteOff]  WITH CHECK ADD  CONSTRAINT [FK__RequestsW__store__571DF1D5] FOREIGN KEY([storekeeperId])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[RequestsWriteOff] CHECK CONSTRAINT [FK__RequestsW__store__571DF1D5]
GO
